# ScamShield Frontend Environment Variables Template
VITE_API_BASE_URL=https://sc-f01386d5b260480bb69a1ec569af47ef.ecs.ap-south-1.on.aws
VITE_DATA_MODE=API
VITE_AUTH_MODE=COGNITO
VITE_COGNITO_USER_POOL_ID=ap-south-1_fF51KRiOB
VITE_COGNITO_CLIENT_ID=5nobimgnf05t17r5lmnupp11la
VITE_COGNITO_REGION=ap-south-1
